<!DOCTYPE html>
<html>
<head>
  <title>Inkwell</title>
  <%= stylesheet_link_tag    "inkwell/application" %>
  <%= javascript_include_tag "inkwell/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
